:root{
    /* --- Colores Descriptivos ---*/
    --purple-dark: #6A0DAD;
    --purple-medium: #8E44AD;
    --purple-light: #BB8FCE;
    --pink-light: #FFB6C1;
    --pink-pale: #F5B7B1;
    --green-soft: #A9DFBF;
    --cream-pale: #FDE2E2;
    --cream-soft: #FDE8D0;
    --cream-lighter: #FFF3E0;
    --cream-default: #fef8ec;
    --cream-light: #F5F5F5;
    --white-bright: #FFFFFF;

    /* --- Variables de uso en la web --- */
    --background-color: var(--cream-lighter); /* Fondo general */
    --card-background: var(--white-bright); /* Fondo de las cards / .mascota-item */
    --primary-color: var(--purple-medium); /* Titulos y elementos importantes */
    --secondary-color: var(--purple-light); /* Bordes y detalles */
    --button-color: var(--purple-dark); /* Botones */
    --text-color: #333; /* Texto General */
    --text-button-color: var(--cream-lighter); /* Texto Botones */
    --text-nav-color: var(--cream-pale); /* Texto Nav */
    --text-footer-color: var(--cream-pale); /* Texto Footer */
    --text-title-color: var(--purple-dark); /* Texto Titulo */
    --text-subtitle-color: var(--purple-medium); /* Texto Subtitulo */
    --text-info: var(--purple-medium); /* Texto */

    /* --- Fuente Principal --- */
    --main-font: 'Montserrat','Courier New', Courier, monospace;
}

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-header {
    height: 75px;
    background-color: var(--purple-medium);
    color: var(--text-nav-color);
    border: 0;
}

nav div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.nav-bounds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-logo {
    margin-right: 25px;
    margin-top: 10px;
    
}

.nav-link {
    justify-content: flex-end;
}

.nav-link a {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-nav-color);
    font-weight: 500;
}

.nav-link a:hover {
    color: var(--purple-dark);
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /*min-height: 60vh;*/
    background-color: var(--background-color);
}

.mascota-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    flex-grow: 1;
    padding: 10px;
}

.mascota-item {
    background-color: var(--card-background);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.mascota-itam:hover{
    background-color: var(--purple-light);
    transition: all 0.6s ease;
}

footer {
    height: 50px;
    background-color: var(--purple-medium);
    padding: 5px 20px;
    color: var(--text-footer-color);

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

button {
    background-color: var(--button-color);
    color: var(--text-button-color);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--purple-dark);
}

.mascota-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 56.25rem; /* 900px */
    margin: 0 auto;
    background: var(--cream-lighter); /* fondo sección opcional */
}

.section-title {
    color: var(--text-title-color);
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.section-subtitle {
    color: var(--text-subtitle-color);
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.section-info {
    font-size: 1rem;
    color: var(--text-info);
    margin-top: 0;
    margin-bottom: 0.5rem;
    max-width: 37.5rem;
}

.mascota-card {
    background-color: var(--white-bright);
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 1rem;
}

.mascota-card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.15);
}

.mascota-img img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;  /* borde circular */
    margin-bottom: 1rem;
}

.mascota-info p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 30rem;
    color: var(--text-info);
    margin-top: 0;
    margin-bottom: 0.5;
}

.btn-temporal {
    background-color: var(--purple-medium);
    color: var(--white-bright);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-temporal:hover {
    background-color: var(--purple-dark);
    transform: translateY(-0.1rem);
}

.carousel {
  width: 100vw;  /* ancho de la ventana */
  height: 100vh; /* alto de la ventana */
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 300%; /* 3 slides */
  height: 100%;
  animation: slideAnimation 12s infinite;
}

.slide {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cubre todo sin deformar */
}

/* Animación automática */
@keyframes slideAnimation {
  0% { transform: translateX(0); }
  33.333% { transform: translateX(-100vw); }
  66.666% { transform: translateX(-200vw); }
  100% { transform: translateX(0); }
}